<html>
  <head>
    <style type="text/css">
      body {
          font-family: "Avenir", "Avenir Next", "Helvetica Neue", "Segoe UI", "Verdana", sans-serif;
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }

    </style>
  </head>
  <body>
    <div class="container"><h1>Docker Workshop - CloudLock</h1>
      <h4>Congrats ! You successfully run the Flask application
          </h4>
    </div>
  </body>
</html>
